/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: white;
  background-color: #AB3788;
}

a{
    color: #fff;
    text-decoration: none;  
}

a:hover{
    color: orange;
}

button{
    background-color: #6D004C;
    border: 1px solid black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A01576;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.componentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    min-height: 70vh;
    background-color: #A01576;
    border-radius: 50px;
    margin-bottom: 15px;
    padding: 15px;
}

.containerHome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    background-color: #84085F;
    border: 1px solid black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.map-container {
  width: 670px;
  max-width: 900px;
  height: 60vh;
  position: relative;
  margin: 0 auto;

  > div {
    width: 100%;
    height: 100%;
  }
}

.event-list-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.filters-container{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-top: 10px;
}

.form{
    display: grid;
    gap: 1rem;
}

//PALETA DE COLORES PARA UTILIZAR

// AB3788
// A01576
// 84085F
// 6D004C
// 510039